/*
     Adding Responsive CSS for Large / Medium / Small Devices
 */

@media (min-width: 1600px) {
    /* No Changes Required */
}


/* For Large devices */

@media (min-width: 1200px) {}


/* For Medium devices */

@media (min-width: 992px) and (max-width: 1199px) {}


/* For Small devices */

@media (min-width: 768px) and (max-width: 991px) {
    .headerRow {
        display: none;
    }
    .s_bodyRow {
        padding: 2%;
        line-height: 55px;
        font-size: 13.6px;
        border-bottom: 1px dashed #cdcdcd;
    }
    .s_bodyRow .actionsContainer {
        text-align: left;
    }
    .s_bodyRow .addEmployeeContainer {
        text-align: left;
    }
    .s_bodyHeader {
        display: block;
    }
}


/* For Extra Small devices */

@media (max-width: 767px) {
    .headerRow {
        display: none;
    }
    .s_bodyRow {
        padding: 2%;
        line-height: 55px;
        font-size: 13.6px;
        border-bottom: 1px dashed #cdcdcd;
    }
    .s_bodyRow .actionsContainer {
        text-align: left;
    }
    .s_bodyRow .addEmployeeContainer {
        text-align: left;
    }
    .account-img {
        height: 27px;
        width: 26px;
        border-radius: 50%;
        margin-top: 12px;
        margin-left: 3%;
    }
    .s_bodyHeader {
        display: block;
    }
}


/* For Extra Small devices */

@media (max-width: 480px) {
    .panel-default {
        border-color: transparent;
    }
    .panel {
        background-color: transparent;
    }
    .dropDownButton {
        width: 100%;
    }
    .dropDownButton:hover,
    .dropDownButton:focus {
        width: 100%;
    }
    .headerRow {
        display: none;
    }
    .input-group {
        position: relative;
        display: table;
        border-collapse: separate;
        width: 90%;
    }
    .daterange-width {
        width: 40%;
        margin-bottom: 5%;
        margin-left: 10%;
    }
    .account-img {
        height: 27px;
        width: 26px;
        border-radius: 50%;
        margin-top: 12px;
        margin-left: 3%;
    }
    .s_bodyRow {
        padding: 5%;
        margin: -2%;
        line-height: 55px;
        font-size: 13.6px;
        border-bottom: 1px dashed #cdcdcd;
    }
    .s_bodyRow .actionsContainer {
        text-align: left;
    }
    .s_bodyRow .addEmployeeContainer {
        text-align: left;
    }
    .s_bodyHeader {
        display: block;
    }
}


/* For Extra Small devices */

@media (max-width: 320px) {
    .panel-default {
        border-color: transparent;
    }
    .panel {
        background-color: transparent;
    }
    .dropDownButton {
        width: 100%;
    }
    .dropDownButton:hover,
    .dropDownButton:focus {
        width: 100%;
    }
    .headerRow {
        display: none;
    }
    .input-group {
        position: relative;
        display: table;
        border-collapse: separate;
        width: 90%;
    }
    .daterange-width {
        width: 40%;
        margin-bottom: 5%;
        margin-left: 10%;
    }
    .account-img {
        height: 27px;
        width: 26px;
        border-radius: 50%;
        margin-top: 12px;
        margin-left: 3%;
    }
    .s_bodyRow {
        padding: 5%;
        margin: -2%;
        line-height: 55px;
        font-size: 13.6px;
        border-bottom: 1px dashed #cdcdcd;
    }
    .s_bodyRow .actionsContainer {
        text-align: left;
    }
    .s_bodyRow .addEmployeeContainer {
        text-align: left;
    }
    .s_bodyHeader {
        display: block;
    }
}